body{
    margin: 0;
    background: url(media/grd2.jpg) fixed no-repeat;
    background-size: cover;
    font-family: 'coolkid';
    font-size: 13;
}

@font-face{
    font-family: 'coolkid';
    src: url(media/psr.ttf);
}

.zheader{
    width: 70%;
    color: white;
    font-weight: 500;
    margin-left: 239px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 17;
}

.main-nav div{
    display: inline;
}

.main-nav a{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 0;
}

.main-nav img{
    margin-bottom: 0;
}

.left-nav{
    padding-left: 40px;
}

.left-nav a{
    padding:0 20px 0 5px;
}

.left-nav a:hover{
    background-color: #C64FBD;
    color: whitesmoke;
    transition: .3s;
}

.right-nav{
    margin-left: 200px;
    transition: .5s;

}

.right-nav a{
    padding-right: 30px;
    color: rgb(175, 175, 175);
}

.right-nav a:hover{
    color: white;
}

.user-nav{
    padding-left: 290px;
    font-size: 17;
    color: white;
}

.user-nav a:hover{
    color: rgb(192, 192, 192);
}

.user-nav a{
    padding-left: 20px;
}

.prof-photo{
    border-radius: 100%;
    height: 25px;
    width: 28px;
    padding-left: 0;
    margin-bottom: 0;
}

#home-content{
    color: white;
    font-size: 14;
    width: 70%;
    margin: auto;
}

#home-content legend{
    font-size: 20;
    font-weight: bold;
    margin-left: 800px;
    margin-bottom: 13px;
}

#home-content a{
    text-decoration: none;
    color: inherit;
}

.hc1{
    border: solid 2.2px rgb(230, 144, 222);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    margin: 5px 5px 15px 0;
    width: 50%;
    line-height: 1.5em;
}

.hc2{
    border: solid 2.2px rgb(230, 144, 222);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    margin-left: 400px;
    margin-bottom: 10px;
    width: 50%;
    line-height: 1.5em;
}

.viewacc{
    width: 35%;
    color: white;
    margin: auto;
    border-style: solid;
    border-color: #C64FBD;
    border-radius: 9px;
    padding: 50px;
}

.viewacc a{
    margin-left: 27px;
}

.viewprof img{
    border-radius: 100%;
    height: 70px;
    width: 78.4px;
    /* margin: auto;
    margin-left: 23px; */
    /* margin-bottom: 200px; */
}

.viewprof0 img{
    border-radius: 100%;
    height: 60px;
    width: 78.4px;
    /* margin-bottom: 200px; */
}

.viewprof, .viewprof0{
    color: white;
    font-size: 16;
    text-align: center;
}

.viewprof0{
    margin: auto;
}

.acc-content{
    font-size: 17;
}

.container{
    width: 70%;
    margin: auto;
}

.container2{
    width: 70%;
    margin-left: 159px;
}
.formblock{
    width:30%;
    margin: auto;
    border-style: solid;
    border-color: #C64FBD;
    border-radius: 9px;
    padding: 50px;
}

.formblock-req{
    width:50%;
    margin: auto;
    border-style: solid;
    border-color: #C64FBD;
    border-radius: 9px;
    padding: 50px;
}

.leg{
    font-size: 20;
    color: white;
}
.formm{
    margin: 5px inherit 5px inherit;
}

.formm p{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-shadow: grey;
}

/* .formz{
    border-style: solid;
    border-width: 2px;
    border-color: #C64FBD;
    background-color: #3D113B;
    width: 40%;
    margin: auto;
} */

.form-l{
    color: rgb(221, 219, 219);
}

.form-f{
    border-style: solid;
    background-color: #3D113B;
    border-color: #C64FBD;
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom:5.5px;
    padding-left: 3px;
    width: 90%;
    line-height: 1.8;
    font-family: 'coolkid';
}

.form-f:focus{
    width: 98%;
    color: #3D113B;
    background-color: rgb(241, 241, 241);
}

.form-f2{
    border-style: solid;
    background-color: #3D113B;
    border-color: #C64FBD;
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    padding-left: 3px;
    width: 55%;
    line-height: 1.8;
    font-family: 'coolkid';
}

#photo{
    border-style: solid;
    background-color: #3D113B;
    border-color: #C64FBD;
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    padding-left: 3px;
    width: 55%;
    line-height: 1.8;
    font-family: 'coolkid';
}

.form-f-req{
    border-style: solid;
    background-color: #3D113B;
    border-color: #C64FBD;
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    padding-left: 3px;
    width: 50%;
    line-height: 1.8;
    font-family: 'coolkid';
}

.form-f-t{
    border-style: solid;
    background-color: #3D113B;
    border-color: #C64FBD;
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    padding-left: 3px;
    width: 90%;
    line-height: 1.8;
    font-family: 'coolkid';
}

.form-f:active{
    text-emphasis: none;
    background-color: #3D113B;
    color: rgb(241, 241, 241);
}

.form-f-error{
    border-style: solid;
    background-color: #3D113B;
    border-color: rgb(231, 68, 68);
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    padding-left: 3px;
    width: 90%;
    line-height: 1.8;
    font-family: 'coolkid';
}

.form-f2-error{
    border-style: solid;
    background-color: #3D113B;
    border-color: rgb(231, 68, 68);
    color: rgb(241, 241, 241);
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    padding-left: 3px;
    width: 55%;
    line-height: 1.8;
    font-family: 'coolkid';
}

.error-msg{
    font-size: 12;
    color: rgb(231, 68, 68);
    margin-top: 2px;
    margin-bottom:2px;
}

.form-fs{
    border-style: none;
}

/* .form-sub{

} */
.form-s{
    color: rgb(216, 216, 216);
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #C64FBD;
    box-shadow: unset;
    margin-left: 76px;
    margin-top: 27px;
    background-color: #3D113B;
    font-family: 'coolkid';
    padding:3px 13px 3px 13px;
    line-height: 1.3em;
}

.form-s a{
    text-decoration: none;
    color: inherit;
}

.form-s-req{
    color: rgb(216, 216, 216);
    border-style: unset;
    border-width: thin;
    border-radius: 6px;
    border-color: #3D113B;
    box-shadow: unset;
    margin-left: unset;
    margin-right: auto;
    margin-top: 25px;
    background-color: #3D113B;
    font-family: 'coolkid';
    padding: 3px 13px 3px 13px;
    line-height: 1.3em;
}

.form-s-req2{
    color: rgb(216, 216, 216);
    border-style: unset;
    border-width: thin;
    border-radius: 6px;
    border-color: #3D113B;
    box-shadow: unset;
    /* margin-left: 80px; */
    margin-top: 5px;
    background-color: #3D113B;
    font-family: 'coolkid';
    padding: 3px 13px 3px 13px;
    line-height: 1.3em;
}
.form-s:hover, .form-s-req:hover, .form-s-req2:hover{
    color: #3D113B;
    border-width: 1px;
    background-color: white;
    border-color: transparent;
    font-weight: bolder;
}


.textmutd{
    color: rgb(180, 180, 180);
}

.yama{
    text-decoration: none;
    color: #C64FBD;
}

.yama:hover{
    color: white;
    text-decoration: underline;
}

.myalert{
    width: 30%;
    margin: auto;
    border-width: 0;
    text-align: center;
    margin-bottom: 20px;
}
.success{
    background-color: #a3e4d7;
    color: #0e6251;
    padding: 8px;
    border-radius: 8px;
}

.danger{
    background-color: #ff9f9f;
    color: #a10101;
    padding: 8px;
    border-radius: 8px;
}

.info{
    background-color: #a9cce3;
    color: #2e86c1;
    padding: 8px;
    border-radius: 8px;
}

.req-item{
    width:50%;
    margin: auto;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #C64FBD;
    border-radius: 9px;
    padding: 5px;
    text-align: center;
}

.req-item p{
    font-size: 15;
    color: inherit;
}

.req-fv{
    margin: 20px 20px;
    border-width: thin;
    border-style: solid;
    border-color: transparent;
    border-bottom: thin;
    border-color: #C64FBD;
    border-radius: 9px;
    padding: 9px;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 5px;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.req-it{
    width:60%;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: #C64FBD;
    border-radius: 13px;
    padding: 15px;
    font-family: 'coolbud';
    font-size: 15;
    color: white;
}

.req-it{
    list-style: none;
}

.req-it:hover{
    color: #3D113B;
    background-color: white;
}

.req-fv p{
    font-size: 11.3;
    color: white;
}

.req-fv a{
    text-decoration: none;
    color: inherit;
}

.req-dat{
    text-decoration: none;
    color: #C64FBD;
    text-align: center;
}

footer{
    position: bottom;
}

.futclab{
    width: 70%;
    margin: 15%;
    font-family: 'coolbud';
    text-align: center;
}
