{% extends 'grounds.html' %}

{% block head %} {% endblock %}

{% block content %}
    <div id="home-content">
        <h2>Looper</h2>
        <div class='hc1'>
           <a href="{{ url_for('about') }}"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora eaque dolorum esse! Quaerat sunt, dolores itaque quod ullam dolorum delectus eum illo eos, est commodi nemo molestiae quia cumque.</p></a> 

        </div>
        <legend>Looper</legend> 
       <div class="hc2">
           <a href="{{ url_for('about') }}"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora eaque dolorum esse! Quaerat sunt, dolores itaque quod ullam dolorum delectus eum illo eos, est commodi nemo molestiae quia cumque.</p></a>  

        </div>
 <h2>Looper</h2>    
       <div class="hc1">
           <a href="{{ url_for('about') }}"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora eaque dolorum esse! Quaerat sunt, dolores itaque quod ullam dolorum delectus eum illo eos, est commodi nemo molestiae quia cumque.</p></a>  

        </div>
        <legend>Looper</legend>
       <div class="hc2">

           <a href="{{ url_for('about') }}"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempora eaque dolorum esse! Quaerat sunt, dolores itaque quod ullam dolorum delectus eum illo eos, est commodi nemo molestiae quia cumque.</p></a>  

        </div>
    </div>  
{% endblock %}