{% extends 'grounds.html' %}

{% block head %} {% endblock %}

{% block content %} 
    <div class="container">
        {% if all_reqs %}
            {% for req in all_reqs %}
                <div class="req-fv">
                    <h4 class='req-it'><a href="{{ url_for('viewreq', req_id=req.id) }}">{{ req.guest_name}}</a></h4>
                    <p class='req-dat'><small>on {{ req.date.strftime('%Y-%m-%d') }}</small></p>
                    <p>{{ req.subject }}</p>
                    <a href="{{ url_for('viewreq', req_id=req.id) }}"><button type="submit" class="form-s-req2">view task</button></a>
                </div>    
            {% endfor %}
        {% else %}
        <div class="req-fv">
            <h2 style="width: 30%; text-align: center;">No Pending Requests<hr></h2>
        </div>
        {% endif %}
    </div>
{% endblock %}