{% extends 'grounds.html' %}

{% block head %} {% endblock %}

{% block content %} 
    <!-- <div class="container">
        {% if all_reqs %}
            {% for req in all_reqs %}
                <div class="req-fv">
                    {{ req.guest_name (class='req-it')}}
                    <p><small>on {{ req.date(class='req-dat') }}</small></p>
                    <a href="{{ url_for('viewtask(id)') }}"><button type="submit" class="form-s">view task</button></a>
                </div>    
            {% endfor %}
        {% else %}
            <legend class="leg">No Pending Requests<hr></legend>
        {% endif %} -->
{% endblock %}