{% extends 'grounds.html' %}

{% block head %} {% endblock %}

{% block content %} 
    <div class="container">
        <div class="req-item">

            <legend class="leg">{{ request.subject }} <hr></legend>
            <div>
                <p class="form-f"></p> from: {{ request.guest_name }}
                <p><small class="textmutd">{{ request.guest_email }}</small></p>
                <p><small class="textmutd">{{ request.guest_tel }}</small></p>

            </div>
            <div class='form-f'>
                made on: {{ request.date.strftime('%d-%m-%Y')}}
            </div>
            <div class='' style="text-align: left;">
                message: {{ request.message}}
            </div>
        </div>
    </div>
{% endblock %}